@media screen and (max-width: 750px) {
  .container {
    padding: 0;
  }
  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    height: 50%;
    width: 12%;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .menu-btn .menu-toggler {
    position: absolute;
    right: 16px;
    top: 18px;
    width: 28px;
    height: 2px;
    background-color: #02bf23;
    transition: all 0.4s ease;
  }
  .menu-btn .menu-toggler::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 2px;
    background-color: #02bf23;
    transition: all 0.4s ease;
  }
  .menu-btn .menu-toggler::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 20px;
    height: 2px;
    background-color: #02bf23;
    transition: all 0.4s ease;
  }
  .menu-btn .menu-toggler.open {
    transform: rotate(720deg);
    background-color: transparent;
  }
  .menu-btn .menu-toggler.open::before {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .menu-btn .menu-toggler.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
  }
  .navbar {
    display: block;
    border-bottom: none;
  }
  .navbar .logo {
    padding-left: 20px;
    position: relative;
    z-index: 1;
  }
  .navbar .nav-group {
    display: none;
  }
  .navbar .nav-group.open {
    display: block;
  }
  .navbar .nav-group .menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70vh;
    background-color: #ffffff;
    transition: all 0.4s ease;
  }
  .navbar .nav-group .menu-nav .nav-item.selected > a {
    color: #02bf23;
  }
  .navbar .nav-group .menu-nav .nav-item .nav-link {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 0;
    font-family: "Lato Regular", sans-serif;
    transition: all 0.4s ease;
  }
  .navbar .nav-group .menu-nav .nav-item .nav-link::after {
    display: none;
  }
  .navbar .nav-group .menu-nav .nav-item .nav-link:hover {
    color: #02bf23;
  }
  .navbar .nav-group.open {
    transform: translateY(0);
  }
  .navbar .end-tabs {
    height: 22.5vh;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    display: none;
    transition: all 0.4s ease;
  }
  .navbar .end-tabs .navicon-link {
    margin: 0 20px;
    transition: all 0.4s ease;
  }
  .navbar .end-tabs.open {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .web-banner .banner-content .info-area {
    padding: 0 30px;
  }
  .web-banner .banner-content .banner-searcher input[type="text"] {
    font: normal normal 15px "Lato Regular", sans-serif;
    width: 65% !important;
  }
  .web-banner .banner-content .banner-searcher input[type="text"]::placeholder {
    font: normal normal 15px "Lato Regular", sans-serif;
    color: #02bf23;
  }
  .web-banner .banner-content .banner-searcher a > button.banner-searcher {
    padding: 10px 13px !important;
    font: normal bold 12.5px/18px "Lato Bold", sans-serif !important;
  }
  .web-banner .banner-content .carousel {
    width: 100%;
    margin: 40px 0;
  }
  .web-banner .banner-content .carousel .carousel-cell {
    width: 100%;
    margin: 0 40px;
  }
  .web-banner .banner-content .carousel .flickity-page-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  .web-banner .banner-content .carousel .flickity-page-dots .dot {
    margin: 0 5px;
  }
  .web-banner .banner-bottom {
    padding: 20px 40px;
  }
  .web-banner .banner-bottom .bottom-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    margin-top: 100px;
    align-items: center;
    justify-items: center;
    width: 100%;
  }
  .web-banner .banner-bottom .bottom-grid .grid-item {
    margin: 20px 0;
  }
  .about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
  }
  .about-us .about-info {
    margin-top: 25px;
  }
  .company-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .company-stats .stat-item {
    margin: 20px 0;
  }
  .our-services .service-info {
    margin-top: 40px;
  }
  .why-us .info-side {
    width: 100%;
    padding: 20px 40px;
    margin-bottom: 40px;
  }
  .app-download .app-info {
    margin-bottom: 60px;
  }
  .explore-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .explore-wrapper .explore-card {
    margin: 30px 0;
  }
}
/*# sourceMappingURL=responsive.css.map */